<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            rel="stylesheet">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Facebook Meta Tags -->
        <meta property="og:url"
            content="https://flaskfeedbackform.bhuvansa.com/dashboard">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Flask Feedback Form">
        <meta property="og:description"
            content="A form to collect feedbacks">
        <meta property="og:image"
            content="https://flaskfeedbackform.bhuvansa.com/static/images/OG.png">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain"
            content="https://flaskfeedbackform.bhuvansa.com/">
        <meta property="twitter:url"
            content="https://flaskfeedbackform.bhuvansa.com/dashboard">
        <meta name="twitter:title" content="Flask Feedback Form">
        <meta name="twitter:description"
            content="Dashboard to display the entered data">
        <meta name="twitter:image"
            content="https://flaskfeedbackform.bhuvansa.com/static/images/OG.png">
    </head>
    <body>
        <div class="form">
            <h1>Dashboard</h1>
        </div>
        <br />
        <div class="form df">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h2>Recent Feedbacks</h2>
            </div>
            <div class="col-12 col-md-4">
                <form method="GET" action="/dashboard">
                    <div class="d-md-flex">
                        <input class="form-control mr-sm-2" type="text"
                            name="search" placeholder="Enter Reviewer Name"
                            value="{{ search }}">
                        <button class="btn btn-outline-success my-2 my-sm-0"
                            type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Reviewer Name</th>
                    <th>Team Number</th>
                    <th>Uniqueness</th>
                    <th>Implementation</th>
                    <th>Presentation</th>
                    <th>Teamwork</th>
                    <th>Documentation</th>
                    <th>Average Rating</th>
                    <th>Review Time</th>
                    <th>Feedback</th>
                    <!-- <th>Delete</th> -->
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[10] }}</td>
                    <!-- <td>
                        <a
                            href="{{ url_for('delete_feedback', feedback_id=row[0]) }}">
                            <i class="fa fa-trash"
                                style="color: lightcoral;"></i>
                        </a>
                    </td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">

                <div class="form">
                    <form action="/dashboard" method="GET">
                        <div>
                            <label style="font-size: large;"
                                for="page">Page:</label>
                            <input type="number" id="page" name="page" min="1"
                                max="{{ total_pages }}" value="{{ page }}">/{{
                            total_pages }}
                            <input type="hidden" name="search"
                                value="{{ search }}">
                            <input type="submit" value="Go">
                        </div>
                    </form>
                </div>
            </nav>
        </div>

        <div class="form df">
            <h2>Best teams ordered by category</h2>
        </div>
        <table class="table" id="best_teams">
            <thead>
                <tr>
                    <th>Average of all</th>
                    <th>Uniqueness</th>
                    <th>Implementation</th>
                    <th>Presentation</th>
                    <th>Teamwork</th>
                    <th>Documentation</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(0,no_of_teams) %}
                <tr>
                    <td>Team {{ best_teams[i][1] }} ({{ best_teams[i][2]
                        }})</td>
                    <td>Team {{ best_teams[i+no_of_teams*1][1] }} ({{
                        best_teams[i+no_of_teams*1][2] }})</td>
                    <td>Team {{ best_teams[i+no_of_teams*2][1] }} ({{
                        best_teams[i+no_of_teams*2][2] }})</td>
                    <td>Team {{ best_teams[i+no_of_teams*3][1] }} ({{
                        best_teams[i+no_of_teams*3][2] }})</td>
                    <td>Team {{ best_teams[i+no_of_teams*4][1] }} ({{
                        best_teams[i+no_of_teams*4][2] }})</td>
                    <td>Team {{ best_teams[i+no_of_teams*5][1] }} ({{
                        best_teams[i+no_of_teams*5][2] }})</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </body>
</html>